/* adding google font & margin and padding in the body with body tag */
body {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* the css of the top banner part is written here also 'top-banner' contains the animation part*/
.top-banner {
    background-color: #272727;
    border-radius: 33px;
    margin: 50px 10px;
    animation: changeBg 5s linear infinite;
    display: grid;
    place-items: center;
}

/* animation part for top banner,, this changes the background-color after 5s name of the animation is changeBg */

@keyframes changeBg {
    0% {
        background-color: green;
    }

    20% {
        background-color: orangered;
    }

    40% {
        background-color: olivedrab;
    }

    60% {
        background-color: red;
    }

    80% {
        background-color: gold;
    }

    100% {
        background-color: goldenrod;
    }
}

.things-inside-banner {
    display: flex;
    align-items: center;
    gap: 22px;
}

.right-part,
.left-part {
    width: 50%;
}

.right-part img {
    width: 565px;
    height: 590px;
    margin-top: 20px;
    margin-right: 75px;
    margin-bottom: -13%;
}

.left-part {
    padding: 100px;
}

.left-part-header {
    font-weight: 800;
    font-size: 65px;
    color: #272727;

}

.left-part-para {
    font-size: 17px;
    color: #272727;
    margin: 29px 0;
}

.left-part-button {
    background-image: linear-gradient(orangered, goldenrod);
    border-radius: 8px;
    color: darkcyan;
    padding: 25px;
    border: none;
    border-radius: 8px;
}

.left-part-button:hover {
    background-image: linear-gradient(green, greenyellow);
    color: #272727;
}

/* the css of news container section is declared here */
.news-container {
    margin: 45px 135px;
    display: flex;
    gap: 20px;
}

.btn {
    background-color: rgb(21, 24, 27);
    border-radius: 8px;
    height: 100%;
    padding: 29px;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: -36px;
}

.a-in-btn {
    text-decoration: none;
    font-size: 18px;
    border-radius: 13px;
    color: #272727;
}

.btn-number-one {
    background-color: aliceblue;
    padding: 20px 36px;
    border-radius: 13px;
}

.btn-number-one a {
    color: #272727;
}

.btn-number-two {
    background-color: aliceblue;
    padding: 20px 36px;
    border-radius: 13px;
}

.btn-number-one:hover {
    background-image: linear-gradient(black, white);
    color: white;
}

.btn-number-one a:hover {
    color: white;
}

.btn-number-two a {
    color: #272727;
}

.btn-number-two:hover {
    background-image: linear-gradient(black, white);
}

.btn-number-two a:hover {
    color: white;
}

.btn-number-three {
    background-color: tomato;
    padding: 20px 36px;
    border-radius: 13px;
    color: black;
}

.btn-number-three a {
    text-decoration: none;
    font-size: 18px;
    color: #272727;
}

.btn-number-three:hover {
    background-color: orangered;
    color: white;
}

.btn-number-three a:hover {
    color: white;
}

/* news-blog css are written here */
.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
}

.cards {
    border: 2px solid #E8E8E8;
    border-radius: 9px;
}

.card-container img {
    width: 100%;
}

.card-materials {
    margin: 19px;
}

.btn-of-card button {
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
}

.btn-of-card button:hover {
    background-image: linear-gradient(orange, orangered);
    color: #272727;
    font-style: italic;
}

.btn-of-card p {
    font-size: 15px;
    font-weight: 600;
    margin: 18px 0 18px 0;
}

.card-details {
    display: flex;
    align-items: center;
    gap: 28px;
}

.time img {
    background-color: beige;
    border-radius: 10px;
}

.time img:hover {
    background-image: linear-gradient(grey, white)
}

.comments img {
    background-color: aqua;
    border-radius: 13px;
}

.comments img:hover {
    background-image: linear-gradient(pink, slateblue);
    color: #272727;
}

.view-all {
    position: relative;
    margin: 18px auto;
    display: none;
}

.view-all button {
    padding: 10px 28px;
    background-color: white;
    color: #272727;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

/* css for flags in upcomming matches is written here */

.match-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.match-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 28px;
    border: 2px solid sienna;
    border-radius: 9px;
}

.match-card:hover {
    background-color: antiquewhite;
    box-shadow: inset 2px 5px 6px 7px springgreen;
}

.match-card-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-name {
    font-weight: 700;
    font-size: 18px;
}

.details {
    color: #272727;
}

/* css of footer section is written here */
.foo-ter {
    background-color: #272727;
    padding: 53px;
}

.line {
    border: 1px solid beige;
    width: 100%;
    margin: 30px auto 30px;
    /* box-shadow: 2px 2px 2px 2px white; */
}

.line:hover {
    box-shadow: 2px 2px 2px 2px white;
}

.foo-ter-head {
    padding-bottom: 55px;
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    text-shadow: 1px 3px aliceblue;
    line-height: 17px;
}

.foo-ter-head:hover {
    color: aqua;
}

.utilities,
.six-things {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.six-things a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: whitesmoke;
}

.six-things a:hover {
    background-image: linear-gradient(skyblue, slateblue);
    border-radius: 8px;
}

/* the css for icons in the footer is written here */
.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 53px;
    margin-top: 52px;
    padding-bottom: 20px;
}

.icons i {
    font-size: 22px;
    padding: 14px;
    background-color: white;
    color: black;
    border-radius: 47%;
}

.icons i:hover {
    background-image: linear-gradient(slategrey, slateblue);
    color: #272727;
}

/* css to make this website responsive is written here */

/* for mobile google said 688px is the highest breakpoint for mobile */

@media only screen and (max-width:688px) {

    /* have to fix top-banner first */
    .top-banner {
        margin: 40px 17px;
    }

    .things-inside-banner {
        flex-direction: column;
    }

    .left-part,
    .right-part {
        width: 100%;
    }

    .left-part {
        padding: 13px 0;
    }

    .left-part {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-part h1 {
        font-size: 20px;
        text-align: center;
        color: antiquewhite;
    }

    .left-part-para {
        font-size: 15px;
        text-align: center;
        color: antiquewhite;
    }

    .left-part button {
        padding: 10px 14px;
        border-radius: 6px;
    }

    .left-part-button:hover {
        background-image: linear-gradient(grey, white);
    }

    .hide {
        display: none;
    }

    .right-part img {
        height: 250px;
        width: 235px;
        margin-left: 52px;
        margin-top: 20px;
        margin-right: 75px;
        margin-bottom: -3px;
    }

    /* news part responsive css */
    .news-container {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        background-color: white;
        padding: 35px;
    }

    .btn-number-one {
        padding: 12px 48px;
    }

    .btn-number-two {
        padding: 12px 48px;
    }

    .btn-number-three {
        padding: 12px 48px;
    }

    .news-cards {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .cards {
        width: 340px;
        height: 389px;
    }



    /* responsive footer css */
    .foo-ter,
    .six-things {
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .foo-ter-head {
        padding-top: 22px;
        font-weight: 700;
        font-size: 20px;
    }

    .line {
        margin: 22px 0;
        border: 1px solid beige;
    }

    .icons i {
        font-size: 14px;
        padding: 7px;

    }

    .icons i:hover {
        background-image: linear-gradient(red, tomato);
        color: black;
    }
}

/* responsive css for tablet is written here */
/* google says min width should be 688 and max width should be 992 */

@media only screen and(min-width:688px) and (max-width:992px) {

    /* first fix the top banner */
    .top-banner {
        margin: 52px 48px;
    }

    .left-part h1 {
        font-size: 41px;
    }

    .left-part-para {
        font-size: 12px;
        margin: 8px 0;
    }

    .left-part button {
        padding: 10px;
    }

    .left-part .hide {
        display: none;
    }

    .right-part img {
        width: 100%;
        margin-bottom: -2px;
    }

    /* news part responsive css */
    .news-container {
        flex-direction: column;
        margin: 48px 48px;
        align-items: center;
        width: 100%;
    }

    .btn {
        background-color: white;

    }

    .btn ul {
        flex-direction: row;
        background-color: aliceblue;
        gap: 10px;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards {
        width: 355px;
    }

    .view-all {
        display: block;
    }
}